{% extends 'Qapp/base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'Qapp/css/find.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

{% if tagged == "notagged" %}

	<!--タグづけされていない時の処理-->

{% else %}

	{{ tagged }}

{% endif %}

<form method="POST" action="" >
	{% csrf_token %}
	{{ message }} : {{ form }}
	<button type="submit" onclick="'">検索</button>
</form>

{% for item in page_obj.object_list %}

	{{ item.title }}
	{{ item.content }}
	{{ item.post_user.username }}
	{{ item.post_user.profile__image }}

{% endfor %}

{% if page_obj.has_previous %}
	<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
	{% if page_obj.number == num %}
		<span>{{ num }}</span>
	{% else %}
		<a href="?page={{ num }}">{{ num }}</a>
	{% endif %}
{% endfor %}

{% if page_obj.has_next %}
	<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}