{% extends 'Qapp/base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'Qapp/css/next_signup.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<p>{{ user.username }}</p>
<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in pform %}
		{{ field.label_tag }}<br>
		{{ field }}<br>
	{% endfor %}
	<button type="submit" onclick="">確定</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}